body {
  margin: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1 {
  margin: 16px 2%;
}

h2 {
  margin: 16px 2%;
}

.dflex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.dgrid3x1 {
  margin-left: 8%;
  width: 50%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
}

.mr10 {
  margin-right: 10%;
}
