body {
  margin: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1 {
  margin: 16px 2%;
}

h2 {
  margin: 16px 2%;
}

.dflex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.dgrid4x1 {
  margin-left: 8%;
  width: 75%;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 1fr;
}

.mr10 {
  margin-right: 10%;
}

.addBook {
  margin: 32px 6%;
}
